$purple-50: #faf5ff;
$purple-100: #f3e7ff;
$purple-200: #ead3ff;
$purple-300: #d9b1ff;
$purple-400: #c27fff;
$purple-500: #ab4efe;
$purple-600: #972bf2;
$purple-700: #831bd5;
$purple-800: #65199f;
$purple-900: #5b178c;
$purple-950: #3d0368;