<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()" fill="clear" slot="start">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>
      Publicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input label="Asunto" [(ngModel)]="title" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="¿Qué estás pensando?" type="text-area" [(ngModel)]="content" required></ion-input>
        </ion-item>

        <ion-button fill="clear" expand="full" (click)="saveNote()">PUBLICAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
